


    *{
        margin: 0;
        padding: 0;      
        box-sizing: border-box;
    }
    /*html, body { height: 100%; width: 100%; margin: 0; }*/
    
    /*html {
        height: 100%; width: 100%; margin: 0;
    }*/

    body{
            font-family: 'Courier New', Courier, monospace;
            background-image: url(bg.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

            overflow-y: scroll;
        }

        /* Style for head section */
        .head1 {
            display: flex;
            flex-flow: row wrap;

            justify-content: space-evenly; /*align the flex items main-axis*/
            align-items: center; /*align the flex items y-axis*/
            align-content: center;

            height: auto;
             
            text-align: center;
            background-color: #fff;
            background-image: linear-gradient(90deg,white 70%,black 30%);
            margin: 10px 10px;
            padding: 5px 5px;
            border-radius: 8px;
        }


        .quote-div {
            display: flex;
            flex: 70%;
            flex-flow: column wrap;
            padding: 0px 10px;
            word-break: break-word;
            justify-content: center;

            font-size: 1.2em;
            

        }

        .date-div {
            display: flex;
            flex: 30%;
            
            flex-flow: column wrap;
            
            color: #fff;
            font-size: 1em;

        }


        /* Start Title Div*/
        .title-div {
            margin: 10px 10px;
            

            font-size: 1.8em;
            text-align: center;
        }

        
        /* Style for notes card*/


        .note-container {
            
            
            display: flex;
            flex-flow: row wrap;

            justify-content: space-evenly;
            align-items: center;
            align-content: flex-start;
             
            
        }

        .note-container > div {
            border-radius: 25px;
            background:rgba(255,255,255, 0.3);
            backdrop-filter: blur(15px);

            
            flex: 50%;
            max-width: 45%;
            flex-flow: column wrap;
            height: 180px;
            
            margin: 1% 1%;
            padding: 1% 2%;
            word-break: break-word;

        }

        .notes-menu  {
            float: right;
            color: rgb(226, 49, 49);
            padding: 5px 5px 5px 0px;
            font-size: 1.3em;
            cursor:pointer;
            transition: 0.3s;
        }

        .notes-menu:hover {
            transform: scale(1.4);
            -webkit-transition: all 0.3s ;
            -moz-transition: all 0.3s ;
            -o-transition: all 0.3s ;
            -ms-transition: all 0.3s ;
            transition: all 0.3s;
        }


        .note-container h2 {
            font-size: 1.3em;
            padding: 10px 10px;
        }

        .note-container p {
            font-size: 1.2em;
            padding: 0px 10px;
        }

        


        /*style for compose button*/

        .add-btn  {
            /*display: flex;
            justify-content: flex-end;
            position:-webkit-sticky;
            position: sticky;
            bottom: 0;
            left: 0;*/

            /*position: absolute;
            top: 85%;
            right: 05%;*/

            position: fixed;
            bottom: 50px;
            right: 50px;
        }

        .btn {
            border: solid 2px dodgerblue;
            background-color: transparent;
            padding: 10px 10px;
            color: white;
            cursor: pointer;
            backface-visibility: hidden;
            
            
        }

        .btn :hover {
            color: rgb(23, 139, 255);
            padding: 4px 4px;
            transition:0.4s;
        }

        /* Styling for notes pop up*/

        .notes-popup {
            position: absolute;
            min-width: 100%;
            z-index: 1;
        }

        .notes-form {
            
            display: none;
            flex-flow: column wrap;
            justify-content: flex-start; /*align the flex items main-axis*/
            align-items: center; /*align the flex items y-axis*/


            margin: 0px 25% 0px 25%;
            padding: 0% 0%;

            min-height: 400px;
            
            border-radius: 25px;
            background:rgba(255,255,255, 0.3);
            backdrop-filter: blur(15px);
            box-shadow: 3px 3px 15px #000 ;
            
            animation-duration: 0.8s;
            animation-name: buka;
           
        }

        @keyframes buka {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes tutup {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }

        .notes-form .closing {
            position: absolute;
            top: 0;
            right: 0;
            margin:10px 20px ;
            background-color: transparent;
            border: 0;
            cursor: pointer;

        }
        
        .notes-form > input, textarea {
            display: flex;
            justify-content: center;
            min-width: 90%;
            text-align: center;
            flex:0 0 auto;
            
            background-color:transparent;
            border: 0px;
            outline: 0;

            font-family: 'Courier New', Courier, monospace;
            color: #000;
        }

        .notes-form > ::placeholder {
            color: #fff;
        }

        .notes-form input {
            background-color: #f05050;
            padding: 3% 10%;
            min-width: 100%;
            border-radius: 25px 25px 0px 0px;

            font-size: 1.8em;
            font-weight: bold;
            color: #fff;
        }

        input:focus::-webkit-input-placeholder {
            opacity: 0;
        }

        .notes-form textarea {
            background: url(notepad-psd2.png);
            background-size: cover;
            min-width: 100%;
            flex: 2;
            padding: 1% 10%;
            border-radius: 0px 0px 25px 25px;
            text-align: left;
            font-size: 1.6em;
        }

        .notes-form .btn-form {
            position: absolute;
            bottom: 10px;
            padding: 8px 40px;
            border: solid 2px #f05050;
            background-color: #fff;
            background:rgba(255,255,255, 0.3);
            backdrop-filter: blur(15px);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.329) ;
            border-radius: 5px;
            cursor: pointer;
            
        }

        /*Create loader icon */
        .loader {
            opacity: 0;
            position: absolute;
            left:50%;
            top: 50%;
            border: 8px solid #f0505079;
            border-radius: 50%;
            border-top: 8px solid #f05050;
            width: 40px;
            height: 40px;
            /*-webkit-animation: spin 2s linear infinite; /* Safari */
            /*animation: spin 2s linear ;*/
          }
          
          /* Safari */
          @-webkit-keyframes spin {

            0% { -webkit-transform: rotate(0deg); }
            25% { -webkit-transform: rotate(180deg); }
            75% { -webkit-transform: rotate(-180deg); }
            100% { -webkit-transform: rotate(0deg); }
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); opacity: 1;}
            25% { transform: rotate(180deg);opacity: 0.9; }
            75% { transform: rotate(-180deg); opacity: 0.6;}
            100% { transform: rotate(0deg);opacity: 0.3; }


          }




        /* Style for phone/pc responsiveness */
        
        @media only screen and (min-width: 768px) {
            

            .note-container {
                justify-content: start;
                
            }

            .note-container > div {
                flex: 33%;
                max-width: 30%;
                height: 220px;
            }
            
        }
